body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: "Helvetica";

    & button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }

    & a {
        text-decoration: underline;
        color: unset;
        &:visited {
            color: unset;
        }
    }
} 
