.article {
    max-width: 75rem;
    margin: auto;
    font-size: 1.1rem;
    text-align: justify;

    & .groupImage {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        & img {
            height: 200px;
            margin-bottom: 20px;
            border: #eaeaea solid 1px;
            margin-right: 4rem;
        }

        & .activeImage {
            background-color: rgba(0, 0, 0, .7);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img {
                height: unset;
                max-height: 80%;
                max-width: 80%;
            }
            & .closeButton {
                position: fixed;
                top: 2rem;
                right: 2rem;
            }
        }
    }

    & h1 {
        background-color: #98b0de;
        color: white;
        width: 25rem;
        height: 4rem;
        margin: 2.5rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &::before, &::after {
            content: "";
            position: absolute;
        }

        &::before {
            left: -2rem;

            border-top: 2rem solid #98b0de;
            border-bottom: 2rem solid #98b0de;
            border-left: 2rem solid transparent;
        }

        &::after {
            right: -2rem;

            border-top: 2rem solid #98b0de;
            border-bottom: 2rem solid #98b0de;
            border-right: 2rem solid transparent;
        }
    }

    & h2 {
        margin-top: 3rem;
        border-bottom: 2px solid #98b0de;
        padding-bottom: 0.5rem;
    }
}